[submodule "huggingface-spaces-titanic"]
	path = lab1/huggingface-spaces-titanic
	url = https://huggingface.co/spaces/SodraZatre/titanic
[submodule "lab1/huggingface-spaces-titanic-monitoring"]
	path = lab1/huggingface-spaces-titanic-monitoring
	url = https://huggingface.co/spaces/SodraZatre/titanic-monitoring
[submodule "lab1/huggingface-spaces-iris"]
	path = lab1/huggingface-spaces-iris
	url = https://huggingface.co/spaces/SodraZatre/iris
[submodule "lab1/huggingface-spaces-iris-monitoring"]
	path = lab1/huggingface-spaces-iris-monitoring
	url = https://huggingface.co/spaces/SodraZatre/iris-monitoring
[submodule "lab2/hugging-face-spaces-lab-2"]
	path = lab2/hugging-face-spaces-lab2
	url = https://huggingface.co/spaces/SodraZatre/lab2-whisper
